<DOCTYPE html>
    <html lang="ru">
        <head>
            <title>TODO List</title>
            <link href="~/css/Task1.css" rel="stylesheet" type="text/css"/>
            <meta charset="utf-8"/>
            <meta name="description" content="TODO List"/>
            <meta name="viewport" content="width=device-width"/>
        </head>

        <body>
            <main>           
                <div class="wrapper">
                    <div class="todo">
                        <h1 class="todo-title">Список задач</h1>
                        <div class="todo-add"> 
                            <input type="text" id="new" placeholder="Добавить задачу"/>                
                            <div class="todo-add-button" id="add">+</div>
                        </div>
                        <div class="todo-list" id="tasks">
@*                            <div class="todo-task todo-task_complete">
                                <label class="todo-checkbox">
                                    <input type="checkbox"/>
                                    <div></div>
                                </label>
                                <div class="todo-task-name">rferfeferferfefrerferferf</div>
                                <div class="todo-task-delete">&Chi;</div>
                            </div>
                            <div class="todo-task">
                                <label class="todo-checkbox">
                                    <input type="checkbox"/>
                                    <div></div>
                                </label>
                                <div class="todo-task-name">rferfeferferfefrerferferf</div>
                                <div class="todo-task-delete">&Chi;</div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </main>
            <script src="~/js/Task1.js" type="text/javascript"></script>
        </body>
    </html>

